CONTENTFUL_SPACE_ID=
CONTENTFUL_ENVIRONMENT=master
CONTENTFUL_DELIVERY_ACCESS_TOKEN=
CONTENTFUL_PREVIEW_ACCESS_TOKEN=
CONTENTFUL_MANAGEMENT_TOKEN=
CONTENTFUL_PREVIEW_SECRET=
NEXT_PUBLIC_CONTENTFUL_SPACE_ID=
NEXT_PUBLIC_CONTENTFUL_ENVIRONMENT=master
NEXT_PUBLIC_CONTENTFUL_LIVE_PREVIEW=true
NEXT_PUBLIC_CONTENTFUL_PERSONALIZATION_ENABLED=false
NEXT_PUBLIC_CONTENTFUL_PERSONALIZATION_CLIENT_ID=
NEXT_PUBLIC_CONTENTFUL_PERSONALIZATION_ENVIRONMENT=main
NEXT_PUBLIC_CONTENTFUL_PERSONALIZATION_API_URL=
NEXT_PUBLIC_CONTENTFUL_AUDIENCE_GIFT_INTENT_ID=
NEXT_PUBLIC_CONTENTFUL_AUDIENCE_HOME_FRAGRANCE_EXPLORER_ID=
NEXT_PUBLIC_CONTENTFUL_AUDIENCE_BODY_CARE_RITUAL_SEEKER_ID=
NEXT_PUBLIC_CONTENTFUL_AUDIENCE_DEALS_SENSITIVE_VISITOR_ID=
NEXT_PUBLIC_CONTENTFUL_AUDIENCE_NEW_VISITOR_ID=
NEXT_PUBLIC_CONTENTFUL_DEALS_EXPERIMENT_FLAG_KEY=deals-featured-merchandising-variant
NEXT_PUBLIC_SITE_URL=http://localhost:3000
